*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --clr: black;
    --clr2: white
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--clr2);
}

.navigation {
    width: 400px;
    height: 70px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border:1px solid var(--clr);
}

.navigation ul {
    display: flex;
    position: relative;
    width: 350px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 68px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}

.navigation ul li.active a .icon {
    transform: translateY(-43px);
    color: var(--clr2);
}

.navigation ul li a .text{
    position: absolute;
    color: var(--clr);
    font-size: .75em;
    letter-spacing: .05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text{
    opacity: 1;
    transform: translateY(10px);
}

.navigation ul .indicator {
    position: absolute;
    top: -60%;
    width: 70px;
    height: 70px;
    background-color: var(--clr);
    border-radius: 50%;
    border: 8px solid var(--clr2);
    transition: .5s;
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px*0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px*1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px*2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px*3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px*4));
}