@media only screen and (max-width: 600px) {
    .hello {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        text-align: center;
    }
    
    .hello a {
        display: inline-block;
        white-space: nowrap;
        border-right: 5px solid;
        overflow: hidden;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: .05em;
        animation:
            typing 2s steps(18),
            cursor .4s step-end infinite alternate
    }
}